.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkslategrey;
  padding-top: 1px;
}

.footer-body {
  display: block;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

@media only screen and (max-width: 1110px) {
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

.colz {
  margin-left: 10px;
}
