.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkslategrey;
}

.footer-body {
  display: block;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.footer-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.footer-parent {
  width: 100%;
  height: 100%;
  max-width: 1920px;
}

.footer-parent img {
  max-width: 100%;
  height: 130px;
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media only screen and (max-width: 1110px) {
  .footer-parent {
    display: flex;
    align-items: flex-end;
  }
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

.colz {
  margin-left: 10px;
}

.footer-child {
  height: 3px;
}
